In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
x=df.drop(['Name','Embarked','Cabin','Ticket','Survived','PassengerId','SibSp','Parch'],axis=1)
y=df['Survived']

In [ ]:
print(x)
print(y)

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
x.isnull().sum()

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

In [ ]:
x.describe()

           Pclass         Age        Fare
count  891.000000  714.000000  891.000000
mean     2.308642   29.699118   32.204208
std      0.836071   14.526497   49.693429
min      1.000000    0.420000    0.000000
25%      2.000000   20.125000    7.910400
50%      3.000000   28.000000   14.454200
75%      3.000000   38.000000   31.000000
max      3.000000   80.000000  512.329200

In [ ]:
print(np.mean(df['Age']))

29.69911764705882

In [ ]:
x['Age']=x['Age'].fillna(np.mean(df['Age']))

In [ ]:
x.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

lb=LabelEncoder()
x['Sex']=lb.fit_transform(x['Sex'])
x

     Pclass  Sex        Age      Fare
0       1.0    1   0.271174  0.014151
1       0.0    0   0.472229  0.139136
2       1.0    0   0.321438  0.015469
3       0.0    0   0.434531  0.103644
4       1.0    1   0.434531  0.015713
..      ...  ...        ...       ...
886     0.5    1   0.334004  0.025374
887     0.0    0   0.233476  0.058556
888     1.0    0  29.699118  0.045771
889     0.0    1   0.321438  0.058556
890     1.0    1   0.396833  0.015127

[891 rows x 4 columns]

In [ ]:
print(x)

     Pclass  Sex        Age      Fare
0       1.0    1   0.271174  0.014151
1       0.0    0   0.472229  0.139136
2       1.0    0   0.321438  0.015469
3       0.0    0   0.434531  0.103644
4       1.0    1   0.434531  0.015713
..      ...  ...        ...       ...
886     0.5    1   0.334004  0.025374
887     0.0    0   0.233476  0.058556
888     1.0    0  29.699118  0.045771
889     0.0    1   0.321438  0.058556
890     1.0    1   0.396833  0.015127

[891 rows x 4 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
columns_to_scale=['Pclass','Sex','Age','Fare']
scaler=MinMaxScaler()
x[columns_to_scale]=scaler.fit_transform(x[columns_to_scale])

In [ ]:
print(x)

     Pclass  Sex       Age      Fare
0       1.0  1.0  0.009131  0.014151
1       0.0  0.0  0.015900  0.139136
2       1.0  0.0  0.010823  0.015469
3       0.0  0.0  0.014631  0.103644
4       1.0  1.0  0.014631  0.015713
..      ...  ...       ...       ...
886     0.5  1.0  0.011246  0.025374
887     0.0  0.0  0.007861  0.058556
888     1.0  0.0  1.000000  0.045771
889     0.0  1.0  0.010823  0.058556
890     1.0  1.0  0.013362  0.015127

[891 rows x 4 columns]

In [ ]:
x.describe()

           Pclass         Sex         Age        Fare
count  891.000000  891.000000  891.000000  891.000000
mean     0.654321    0.647587    0.208580    0.062858
std      0.418036    0.477990    0.394303    0.096995
min      0.000000    0.000000    0.000000    0.000000
25%      0.500000    0.000000    0.009131    0.015440
50%      1.000000    1.000000    0.013362    0.028213
75%      1.000000    1.000000    0.022670    0.060508
max      1.000000    1.000000    1.000000    1.000000

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x.values,y.values,random_state=42,test_size=0.2)

print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(712, 4)
(712,)
(179, 4)
(179,)

In [ ]:
from sklearn.naive_bayes import MultinomialNB,BernoulliNB
from sklearn.metrics import confusion_matrix,classification_report

In [ ]:
clf1 = MultinomialNB()

In [ ]:
x.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [ ]:
clf1.fit(x_train,y_train)

MultinomialNB()

In [ ]:
pred1=clf1.predict(x_test)

In [ ]:
cm1=confusion_matrix(y_test,pred1)

In [ ]:
print(cm1)

[[105   0]
 [ 72   2]]

In [ ]:
cl1=classification_report(y_test,pred1)

In [ ]:
print(cl1)

              precision    recall  f1-score   support

           0       0.59      1.00      0.74       105
           1       1.00      0.03      0.05        74

    accuracy                           0.60       179
   macro avg       0.80      0.51      0.40       179
weighted avg       0.76      0.60      0.46       179

In [ ]:
prior1 = [x/100 for x in range(60,150,5)]
prior2 = [x/100 for x in range(60,150,5)]
best_accuracy = 0.0

best_val1 = None
best_val2 = None

for val2 in prior2:
    for val1 in prior1:
        clf = BernoulliNB(class_prior=[val1, val2])
        clf.fit(x_train, y_train)

        y_pred = clf.predict(x_test)

        acc = accuracy_score(y_test, y_pred)
        if acc > best_accuracy:
            best_accuracy = acc
            best_val1 = val1
            best_val2 = val2

print("Best Accuracy:", best_accuracy)
print("Best val1:", best_val1)
print("Best val2:", best_val2)

Best Accuracy: 0.7821229050279329
Best val1: 0.6
Best val2: 0.6